<!----------------------------------------------------------------------------------------------------
  src/mastered/mastered.component.html
    習得済み技術の一覧コンポーネントのテンプレート
------------------------------------------------------------------------------------------------------>

<h2>習得済み技術リスト</h2>

<ul class="technologies">
  <!----------------------------------------------------------------------------------------------------
    *ngForディレクティブ
      *ngFor="let 変数 of 配列・リスト"
      ※Javaでいうところの拡張for文
  ------------------------------------------------------------------------------------------------------>
  <li *ngFor="let tech of technologies">
    <!----------------------------------------------------------------------------------------------------
      routerLink="path"
      [routerLink]=['Lv1','Lv2',…]  JavaScript要素を使用できる
      ルーティング定義されたパスを基にリンクを生成する
    ------------------------------------------------------------------------------------------------------>
    <a routerLink="/detail/{{ tech.id }}">
      <span class="badge">{{ tech.id }}</span>
      {{ tech.name }}
    </a>
    ※{{ tech.remark }}
  </li>
</ul>
