<!----------------------------------------------------------------------------------------------------
  src/app.component.html
    Angular アプリのルートコンポーネントのテンプレート
------------------------------------------------------------------------------------------------------>

<h1>{{ title }}</h1>

<nav>
    <!----------------------------------------------------------------------------------------------------
      routerLink="path"
      [routerLink]=['Lv1','Lv2',…]  JavaScript要素を使用できる
      ルーティング定義されたパスを基にリンクを生成する
    ------------------------------------------------------------------------------------------------------>
    <a routerLink="/dashboard">ダッシュボード</a>
    <a routerLink="/mastered">習得済み技術</a>
</nav>

<!----------------------------------------------------------------------------------------------------
  router-outlet
  ルーティングされた結果を埋め込む
------------------------------------------------------------------------------------------------------>
<router-outlet></router-outlet>

<!----------------------------------------------------------------------------------------------------
  コンポーネント埋め込み
  タグに記載された名前のコンポーネントを埋め込む
------------------------------------------------------------------------------------------------------>
<app-messages></app-messages>