<!----------------------------------------------------------------------------------------------------
  src/messages/messages.component.html
    メッセージを表示するコンポーネントのテンプレート
    以下の内容が、app.component.htmlの<app-messages>タグの部分に埋め込まれる
------------------------------------------------------------------------------------------------------>

<!----------------------------------------------------------------------------------------------------
  *ngIfディレクティブ
    *ngIf="条件式; then 真の場合 else 偽の場合"
    [条件式]
      変数名のみ     null、undefined、空の場合にfalse
      ==            等価(値のみの比較)
      !=            不等価(値のみの比較)
      ===           厳密等価(値および型の比較)
      !==           厳密不等価(値および型の比較)
      >             大なり
      <             小なり
      >=            以上
      <=            以下
------------------------------------------------------------------------------------------------------>
<div *ngIf="messageService.messages.length">
  <h2>メッセージ</h2>

  <!----------------------------------------------------------------------------------------------------
    イベントバインド
      指定されたイベント時に動作する内容を定義する

      (click)="クリック時に動作するメソッド"
  ------------------------------------------------------------------------------------------------------>
  <button class="clear" (click)="messageService.clear()">消去</button>

  <!----------------------------------------------------------------------------------------------------
    *ngForディレクティブ
      *ngFor="let 変数 of 配列・リスト"
      ※Javaでいうところの拡張for文
  ------------------------------------------------------------------------------------------------------>
  <div *ngFor='let message of messageService.messages'>
    {{ message }}
  </div>
</div>
