<!----------------------------------------------------------------------------------------------------
  src/dashboard/dashboard.component.html
    ダッシュボードコンポーネントのテンプレート
------------------------------------------------------------------------------------------------------>

<h3>トップ技術</h3>

<div class="grid grid-pad">
  <!----------------------------------------------------------------------------------------------------
    *ngForディレクティブ
      *ngFor="let 変数 of 配列・リスト"
      ※Javaでいうところの拡張for文
  ------------------------------------------------------------------------------------------------------>
  <!----------------------------------------------------------------------------------------------------
    routerLink="path"
    [routerLink]=['Lv1','Lv2',…]  JavaScript要素を使用できる
    ルーティング定義されたパスを基にリンクを生成する
  ------------------------------------------------------------------------------------------------------>
  <a *ngFor="let tech of technologies"
     class="col-1-4"
     routerLink="/detail/{{ tech.id }}"
  >
    <div class="module technology">
      <h4>{{ tech.name }}</h4>
    </div>
  </a>
</div>
